@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="AD"/>

    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">KATEGORİ EKLE</button>
    </div>
</form>


